<h1>Show 2</h1>
<p>Peaky Blinders</p>

<br />

<%# can write below as params[:id] as well with same effect 
 -> reads and displays query parameters %>
ID: <%= params['id'] %>   
<br />
Page: <%= @page %> 
