<h1>About us</h1>
<p> Did you know that we're a dummy website? Another fun fact: we really like web dev!</p>

<style>
  a {color: red;}
</style>

<br />
<%= mail_to('noreply@nowhere.co.uk') %>

<br />

<%= link_to('Contact Us!', {:controller => 'demo', :action => 'contact', :country => 'us'}) %>